<a href="https://colab.research.google.com/github/albert-magarire/Leetcode-Solutions/blob/main/Google%20STEP%20Interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def mood():
  mood = "üòí"
  print("Today' mood: " + mood)

mood()

Today's mood: üòí

In [8]:
def mood(mood):
  mood = "üôÇ"
  #using the f string to format the variables into the string for printing
  print(f"Today's mood:{mood} ")

mood("üôÇ")

Today's mood:üôÇ

In [10]:
def print_menu(menu):
  print(f"Today's menu: {menu}")

print_menu("üçï")

Today's menu: üçï

In [12]:
def sum(a,b):
  total = a + b
  print(total)

  product = total * 2
  print(product)

sum(13, 27)

40
80

In [14]:
def product(a, b):
  prod = a * b
  return prod

product(22,7)

154

In [15]:
def classify_age(age):
  if age < 18:
    return "child"
  else:
    return "adult"

output = classify_age(25)
print(output)

adult

In [18]:
def what_time_is_it(time):
  if time == 2:
    return "breakfast"
  elif time == 12:
    return "lunch"
  else:
    return "nap time"

output = what_time_is_it(12)
print(output)

lunch

In [19]:
def get_first(lst):
  if lst == []:
    return None
  else:
    return lst[0]

output = get_first([1,2,3])
print(output)

1

In [21]:
def get_last(lst):
  if lst == []:
    return None
  else:
    return lst[-1]

output = get_last([1,2,3])
print(output)

3

In [23]:
def counter(stop):
  for n in range(1, stop + 1):
    print(n)

counter(10)

1
2
3
4
5
6
7
8
9
10

In [7]:
def sumTen():
  sum = 0
  for i in range(11):
    sum += i
  return(sum)

sumTen()

55

In [10]:
def sum_range(start, stop):
  sum = 0

  for i in range(start, stop+1):
    sum += i
  return sum

sum_range(3,9)

42